{% extends "base.html" %}
{% load static %}

{% block title %}Reserve{% endblock title %}

{% block content %}
<h1>{{ product.name }}</h1>

{% comment %} {% for date in product.rented_dates %}
    <p>{{ date }}</p>
{% endfor %} {% endcomment %}


<form class="row mb-4" method="POST">
    {% csrf_token %}
    <div class="col-5">
        {{ form.rental_date.errors }}
        <label class="form-label" for="{{ form.rental_date.id_for_label }}">Rental Date:</label>
        {{ form.rental_date }}
    </div>
    <div class="col-5">
        {{ form.return_date.errors }}
        <label class="form-label" for="{{ form.return_date.id_for_label }}">Return Date:</label>
        {{ form.return_date }}
    </div>
    <div class="col-2" style="margin-top:2rem">
        <button type="submit" class="btn btn-primary w-100">
            Reserve
        </button>
    </div>
</form>

<div id='calendar'></div>
{% endblock content %}

{% block javascript %}
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js'></script>
<script>

    document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        events: [
            {% for i in product.calandar_dates  %}
                {
                    title: '{{i.title}}',
                    start: '{{i.start|date:"Y-m-d"}}',
                    end: '{{i.end|date:"Y-m-d"}}',
                    allDay: true
                },
            {% endfor %}
        ]
    });
    calendar.render();
    });

</script>
{% endblock javascript %}